<datalist id="ac_reg">
    <option>4K-AZ65</option>
    <option>4K-AZ66</option>
    <option>4K-AZ67</option>
    <option>4R-ALB</option> 
    <option>4R-ALH</option> 
    <option>4R-ALL</option> 
    <option>4R-ALM</option> 
    <option>4R-ALN</option> 
    <option>4R-ALO</option>
    <option>4R-ALP</option>
    <option>9K-AKE</option>
    <option>9K-AKL</option>
    <option>9K-AKQ</option>
    <option>9K-AKF</option>
    <option>9K-AKP</option>
    <option>9K-CAI</option>
    <option>9K-CAK</option>
    <option>9K-CAL</option>
    <option>9K-CAM</option>
    <option>9K-CAN</option>
    <option>9K-CAO</option>
    <option>9K-CAP</option>
    <option>9K-CBB</option>
    <option>9K-CBH</option>
    <option>9N-ALM</option>
    <option>9N-ALV</option>
    <option>9N-ALW</option>
    <option>A4-ALP</option>
    <option>A4-OBAA</option>
    <option>A4-OBL</option>
    <option>A4-OBQ</option>
    <option>A4-OBV</option>
    <option>A4-OOVD</option>
    <option>A4-OOVF</option>
    <option>A4-OOVG</option>
    <option>A4-OOXA</option>
    <option>A6-ATA</option>
    <option>A6-ATD</option>
    <option>A6-ATF</option>
    <option>A6-AEF</option>
    <option>A6-AEH</option>
    <option>A6-AEI</option>
    <option>A6-ANR</option>
    <option>A6-AOW</option>
    <option>A6-APZ</option>
    <option>A6-ATA</option>
    <option>A6-ATC</option>
    <option>A6-ATD</option>
    <option>A6-ATE</option>
    <option>A6-ATF</option>
    <option>A6-EBQ</option>
    <option>A6-EBU</option>
    <option>A6-ECH</option>
    <option>A6-ECI</option>
    <option>A6-ECO</option>
    <option>A6-ECQ</option>
    <option>A6-ECS</option>
    <option>A6-ECV</option>
    <option>A6-ECW</option>
    <option>A6-ECY</option>
    <option>A6-EGC</option>
    <option>A6-EGX</option>
    <option>A6-EGQ</option>
    <option>A6-EGS</option>
    <option>A6-EGX</option>
    <option>A6-EGZ</option>
    <option>A6-EIS</option>
    <option>A6-EIT</option>
    <option>A6-EIU</option>
    <option>A6-EIV</option>
    <option>A6-EIW</option>
    <option>A6-EIX</option>
    <option>A6-ENJ</option>
    <option>A6-ENR</option>
    <option>A6-ENS</option>
    <option>A6-ENX</option>
    <option>A6-EPR</option>
    <option>A6-EPZ</option>
    <option>A6-EQE</option>
    <option>A6-EQK</option>
    <option>A6-EQM</option>
    <option>A6-FEC</option>
    <option>A6-FEE</option>
    <option>A6-FEG</option>
    <option>A6-FEO</option>
    <option>A6-FES</option>
    <option>A6-FET</option>
    <option>A6-FEZ</option>
    <option>A6-FGC</option>
    <option>A6-FGF</option>
    <option>A6-FMA</option>
    <option>A6-FMB</option>
    <option>A6-FMC</option>
    <option>A6-FMD</option>
    <option>A6-FME</option>
    <option>A6-FMG</option>
    <option>A6-FMI</option>
    <option>A6-FMJ</option>
    <option>A6-FMK</option>
    <option>A6-FMM</option>
    <option>A6-FMH</option>
    <option>A6-FMR</option>
    <option>A6-FNA</option>
    <option>A6-FNB</option>
    <option>A6-MJ</option>
    <option>A6-NEV</option>
    <option>A7-ACK</option>
    <option>A7-ALM</option>
    <option>A7-AMJ</option>
    <option>A7-ANA</option>
    <option>A7-ANO</option>
    <option>A7-ASL</option>
    <option>A7-BAT</option>
    <option>A7-BBB</option>
    <option>A7-BBE</option>
    <option>A7-BCA</option>
    <option>A7-BCC</option>
    <option>A7-BCL</option>
    <option>A7-BCQ</option>
    <option>A7-BDA</option>
    <option>A7-BDC</option>
    <option>A7-BEC</option>
    <option>A7-BED</option>
    <option>A7-LAD</option>
    <option>A7-LAD</option>
    <option>A9-ALW</option>
    <option>A9-CAB</option>
    <option>A9-CAC</option>
    <option>A9-CAD</option>
    <option>A9-CAF</option>
    <option>A9-CAG</option>
    <option>A9-CAK</option>
    <option>A9-CAL</option>
    <option>A9-CAJ</option>
    <option>A9-CCC</option>
    <option>A9-CCD</option>
    <option>A9-CCE</option>
    <option>A9-CCF</option>
    <option>A9-CNB</option>
    <option>A9-CTA</option>
    <option>A9-CTB</option>
    <option>A9-CTC</option>
    <option>A9-CTD</option>
    <option>A9-CTE</option>
    <option>A9-CTF</option>
    <option>A9-MAX</option>
    <option>AP-BGK</option>
    <option>AP-BGY</option>
    <option>AP-BHV</option>
    <option>AP-BHX</option>
    <option>AP-BLB</option>
    <option>AP-BLV</option>
    <option>AP-BMH</option>
    <option>AP-BOK</option>
    <option>AP-BOL</option>
    <option>AR-ALB</option><!-- HERE -->
    <option>B-1357</option>
    <option>CPS-CQL</option>
    <option>D-ALKE</option>
    <option>D-AIKK</option>
    <option>D-AIKL</option>
    <option>D-AIKM</option>
    <option>D-AIKO</option>
    <option>D-AIKP</option>
    <option>D-AIKQ</option>
    <option>FMQ</option>
    <option>GO-CXM</option>
    <option>GO-CXR</option>
    <option>H9-ALW</option>
    <option>HA-AS72</option>
    <option>HA-ZAQF</option>
    <option>HB-VCBS</option>
    <option>HF-GD</option>
    <option>HQ-AQ11</option>
    <option>HQ-AQ12</option>
    <option>HQ-AQ13</option>
    <option>HQ-AQ14</option>
    <option>HQ-AQ15</option>
    <option>HQ-AQ17</option>
    <option>HQ-AQ18</option>
    <option>HQ-AQ120</option>
    <option>HQ-AQ122</option>
    <option>HQ-AQ23</option>
    <option>HQ-AQ24</option>
    <option>HQ-AQ25</option>
    <option>HQ-AQ26</option>
    <option>HQ-AQ27</option>
    <option>HQ-AQ28</option>
    <option>HQ-AQ29</option>
    <option>HQ-AQB</option>
    <option>HQ-AQBH</option>
    <option>HQ-AQC</option>
    <option>HQ-AQD</option>
    <option>HQ-AQE</option>
    <option>HQ-AQG</option>
    <option>HQ-AQH</option>
    <option>HS-AS0</option>
    <option>HS-AS18</option>
    <option>HS-AS25</option>
    <option>HS-AS29</option>
    <option>HZ-AS34</option>
    <option>HZ-AS35</option>
    <option>HZ-AS38</option>
    <option>HZ-AS39</option>
    <option>HZ-AS40</option>
    <option>HZ-AS41</option>
    <option>HZ-AS42</option>
    <option>HZ-AS43</option>
    <option>HZ-AS44</option>
    <option>HZ-AS45</option>
    <option>HZ-AS51</option>
    <option>HZ-AS52</option>
    <option>HZ-AS54</option>
    <option>HZ-AS55</option>
    <option>HZ-AS56</option>
    <option>HZ-AS57</option>
    <option>HZ-AS57</option>
    <option>HZ-AS58</option>
    <option>HZ-AS59</option>
    <option>HZ-AS61</option>
    <option>HZ-AS62</option>
    <option>HZ-AS64</option>
    <option>HZ-AS65</option>
    <option>HZ-AS66</option>
    <option>HZ-AS67</option>
    <option>HZ-AS68</option>
    <option>HZ-AS69</option>
    <option>HZ-AS72</option>
    <option>HZ-AS73</option>
    <option>HZ-AS74</option>
    <option>HZ-AS75</option>
    <option>HZ-AS76</option>
    <option>HZ-AS77</option>
    <option>HS-AS79</option>
    <option>HZ-AS82</option>
    <option>HZ-AS83</option>
    <option>HZ-AS84</option>
    <option>HZ-AHJ</option>
    <option>HZ-ASA</option>
    <option>HZ-ASB</option>
    <option>HZ-ASC</option>
    <option>HZ-ASD</option>
    <option>HZ-ASE</option>
    <option>HZ-ASF</option>
    <option>HZ-ASG</option>
    <option>HZ-ASH</option>
    <option>HZ-ASI</option>
    <option>HZ-ASJ</option>
    <option>HZ-ASK</option>
    <option>HZ-ASL</option>
    <option>HZ-ASM</option>
    <option>HZ-ASN</option>
    <option>HZ-ASO</option>
    <option>HZ-ASP</option>
    <option>HZ-ASQ</option>
    <option>HZ-ASQ18</option>
    <option>HZ-ASQ32</option>
    <option>HZ-ASR</option>
    <option>HZ-AST</option>
    <option>HZ-ASU</option>
    <option>HZ-ASV</option>
    <option>HZ-ASW</option>
    <option>HZ-NS25</option>
    <option>HZ-NS26</option>
    <option>HZ-NS27</option>
    <option>HZ-NS28</option>
    <option>HZ-NS29</option>
    <option>HZ-NS32</option>
    <option>HZ-NS33</option>
    <option>HZ-NS35</option>
    <option>HZ-NS36</option>
    <option>HZ-NS37</option>
    <option>HZ-NS38</option>
    <option>HZ-NS39</option>
    <option>HZ-NS42</option>
    <option>HZ-NS44</option>
    <option>HZ-NS45</option>
    <option>HZ-NSV</option>
    <option>HZ-SA39</option>
    <option>HZ-SAH</option>
    <option>JY-AYS</option>
    <option>JY-AYC</option>
    <option>JY-AYN</option>
    <option>JY-AYP</option>
    <option>JY-AYT</option>
    <option>JY-EMA</option>
    <option>JY-EMB</option>
    <option>JZ-R1231</option>
    <option>JN-E884</option>
    <option>OD-MRT</option>
    <option>PH-AKA</option>
    <option>PH-AKE</option>
    <option>PH-AOA</option>
    <option>PH-AOD</option>
    <option>PH-AOE</option>
    <option>PH-AOF</option>
    <option>RPC-8763</option>
    <option>RPC-8766</option>
    <option>RPC-8771</option>
    <option>RPC-8783</option>
    <option>S2-AFO</option>
    <option>S2-AHN</option>
    <option>S2-AHM</option>
    <option>S2-AJY</option>
    <option>S2-AJX</option>
    <option>S4-OOVF</option>
    <option>SN-ALV</option>
    <option>ST-TAD</option>
    <option>ST-TAG</option>
    <option>SU-GCM</option>
    <option>SU-GCN</option>
    <option>SU-GCO</option>
    <option>SU-GCP</option>
    <option>SU-GCR</option>
    <option>SU-GCZ</option>
    <option>SU-GDA</option>
    <option>SU-GDB</option>
    <option>SU-GDC</option>
    <option>SU-GDE</option>
    <option>SU-GDU</option>
    <option>SU-GDY</option>
    <option>SU-GDZ</option>
    <option>SU-GEA</option>
    <option>SU-GEC</option>
    <option>SU-GED</option>
    <option>SU-GEH</option>
    <option>SU-GEJ</option>
    <option>SU-GEK</option>
    <option>SU-GEM</option>
    <option>SU-GEW</option>
    <option>SU-GFJ</option>
    <option>SU-GFK</option>
    <option>SV-339</option>
    <option>T7-ME1</option>
    <option>T7-ME3</option>
    <option>T7-ME4</option>
    <option>T7-MEI</option>
    <option>TC-JHP</option>
    <option>UR-SQC</option>
    <option>V-CXR</option>
    <option>VI-TJH</option>
    <option>VP-CQL</option>
    <option>VP-CXC</option>
    <option>VP-CXD</option>
    <option>VP-CXE</option>
    <option>VP-CXG</option>
    <option>VP-CXH</option>
    <option>VP-CXL</option>
    <option>VP-CXM</option>
    <option>VP-CXR</option>
    <option>VP-CXS</option>
    <option>VP-CXT</option>
    <option>VP-CYD</option>
    <option>VT-AXJ</option>
    <option>VT-AYB</option>
    <option>VT-EXD</option>
    <option>VT-GHA</option>
    <option>VT-GHE</option>
    <option>VT-IJA</option>
    <option>VT-IJO</option>
    <option>VT-IJV</option>
    <option>VT-IJY</option>
    <option>VT-ILC</option>
    <option>VT-IUI</option>
    <option>VT-IVR</option>
    <option>VT-IVU</option>
    <option>VT-IVZ</option>
    <option>VT-IZC</option>
    <option>VT-IZF</option>
    <option>VT-IZK</option>
    <option>VT-IZM</option>
    <option>VT-IZV</option>
    <option>VT-SZN</option>
    <option>VT-WGP</option>
    <option>VT-WJE</option>
    <option>VT-WJK</option>
    <option>VT-WJZ</option>
</datalist>