<datalist id="ac_type">
    <option>A304</option>
    <option>A306</option>
    <option>A30B</option>
    <option>A310</option>
    <option>A319</option>
    <option>A320</option>
    <option>A321</option>
    <option>A332</option>
    <option>A333</option>
    <option>A340</option>
    <option>A346</option>
    <option>A350-1K</option>
    <option>A359</option>
    <option>B727</option>
    <option>B733</option>
    <option>B734</option>
    <option>B737</option>
    <option>B738</option>
    <option>B739</option>
    <option>B742</option>
    <option>B743</option>
    <option>B744</option>
    <option>B767</option>
    <option>B772</option>
    <option>B773</option>
    <option>B77L</option>
    <option>B77W</option>
    <option>B787</option>
    <option>B788</option>
    <option>B78X</option>
    <option>E170</option>
    <option>E175</option>
    <option>E190</option>
    <option>E195</option>
</datalist>