<datalist id="remarks">
    <option>Early Arrival</option>
    <option>Headset Delay</option>
    <option>Waiting GPU connection</option>
    <option>TCC Door Open Delay</option>
    <option>PLB Technical Error</option>
    <option>PBB Operator Delay</option>
</datalist>
<!--datalist id="undocking-remarks">
    <option>Early Departure</option>
    <option>Headset Delay</option>
    <option>Waiting GPU connection</option>
    <option>TCC Door Close Delay</option>
    <option>PLB Technical Error</option>
    <option>PBB Operator Delay</option>
</datalist-->