{% extends 'base.html' %}
{% load static %}

{% block title %} Password Reset {% endblock %}
{% block display-content %}
    <div class="form-wrapper">
        <p class="form-title">Password Reset</p>
        <form method="post" enctype="multipart/form-data" action="" novalidate>
            {% csrf_token %}
            <div class="form-custom form-floating mb-3">
                {% include 'ps-forms/password-reset-form.html' %}
            </div>
        </form>
    </div>
{% endblock %}
{% block JS %}
    <!--Bootstrap JS-->
    <script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}