{% extends 'base.html' %}
{% load static %}

{% block title %} Password Change {% endblock %}
{% block display-content %}
    <div class="form-wrapper">
        <p class="form-title">Password Change</p>
        <form method="post" enctype="multipart/form-data" action="" novalidate>
            {% csrf_token %}
                <div class="form-custom form-floating mb-3">
                    {% include 'ps-forms/password-change-form.html' %}
                    <!-- Button here because user form is used in more than one pages with diffrent functions-->
                    <div class="fr-btn">
                        <button type="submit" class="btn btn-outline-primary btn-lg">Change Password</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block JS %}
    <!--Bootstrap JS-->
    <script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}