<div class="table-container">
    <table class="table table-striped table-bordered table-hover">
        <caption>Total: {{ total_records }}</caption>
        <thead class="table-dark">
            <tr>
                <th class="align-middle" scope="col">Undock</th>
                <th class="align-middle" scope="col">Terminal</th>
                <th class="align-middle" scope="col">Stand</th>
                <th class="align-middle" scope="col">Arrival</th>
                {% comment %}
                <th class="align-middle" scope="col">Operator</th>
                <th class="align-middle" scope="col">Departure</th>
                <th class="align-middle" scope="col">Aircraft type</th>
                <th class="align-middle" scope="col">Aircraft Reg</th>
                <th class="align-middle" scope="col">Docked</th>
                <th class="align-middle" scope="col">UnDocked</th>
                <th class="align-middle" scope="col">Chocks On</th>
                <th class="align-middle" scope="col">Door Close</th>
                <th class="align-middle" scope="col">Edit</th>
                {% endcomment %}

            </tr>
        </thead>
        <tbody>

            {% for record in docking_records %}
                <tr>
                    <td class="align-middle">
                        {% if record.undocked or record.no_docking %}
                            <a href="#" class="disabled-link btn btn-success btn-sm border">Done</a>
                        {% else %}
                            <a href="{% url 'create_undocking' record.id %}" class="btn btn-primary btn">Undock</a>
                        {% endif %}
                    </td>
                    <td class="align-middle" id="{{ record.id }}One" data-bs-toggle="collapse" data-bs-target="#{{ record.id }}" aria-expanded="false" aria-controls="{{ record.id }}">{{ record.stand.gate_name.terminal_name }}</td>
                    <td class="align-middle" id="{{ record.id }}One" data-bs-toggle="collapse" data-bs-target="#{{ record.id }}" aria-expanded="false" aria-controls="{{ record.id }}">{{ record.stand }}</td>
                    <td class="align-middle" id="{{ record.id }}One" data-bs-toggle="collapse" data-bs-target="#{{ record.id }}" aria-expanded="false" aria-controls="{{ record.id }}">{{ record.flight_no1 }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Operator</th>
                    <th class="align-middle" scope="row" colspan="2">{{ record.operator1 }}</th>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Departure</th>
                    <td class="align-middle" colspan="2">{{ record.flight_no2 }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Aircraft type</th>
                    <td class="align-middle" colspan="2">{{ record.ac_type }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Aircraft Reg</th>
                    <td class="align-middle" colspan="2">{{ record.ac_reg }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Docked</th>
                    <td class="align-middle" colspan="2">{{ record.docked|date:"d-m-y | H:i" }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">UnDocked</th>
                    <td class="align-middle" colspan="2">
                        {% if record.no_docking %}
                            No Docking
                        {% else %}
                            {{ record.undocked|date:"d-m-y | H:i" }}
                        {% endif %}
                    </td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Chocks On</th>
                    <td class="align-middle" colspan="2">{{ record.chocks_on|date:"H:i" }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Door Close</th>
                    <td class="align-middle" colspan="2">{{ record.door_close|date:"H:i" }}</td>
                </tr>
                <tr id="{{ record.id }}" class="accordion-collapse collapse" aria-labelledby="{{ records.id }}One" data-bs-parent="#docking-records-table" style="">
                    <th class="align-middle table-warning" scope="col" colspan="2">Edit</th>
                    <td class="align-middle" colspan="2">
                        {% if perms.dockingRecords.delete_dockingrecord %}
                            <a href="{% url 'update_record' record.id %}" class="btn btn-secondary btn">Edit</a>
                        {% elif request.user == record.operator1 or request.user == record.operator2.second_operator %}
                            <a href="{% url 'update_record' record.id %}" class="btn btn-secondary btn">Edit</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>