<form method="post" class="search-form" role="search">
    {% csrf_token %}
    <input type="text" class="stop-enter search-bar form-control form-control-sm" name="search-bar" placeholder="Search Passenger Boarding Bridges" aria-label="Search"
    hx-post="{% url 'search_pbbs' %}"
    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
    hx-trigger="input delay:2s" hx-target="#pbbs-table" hx-swap="innerHTML">
    <div class="search-checks">
        <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="form-check-input btn-check btn-check" name="search-radios" id="pbb_name" value="pbb_name" checked="">
            <label class="btn btn-primary" for="pbb_name">by <b>Pbb Name</b></label>

            <input type="radio" class="form-check-input btn-check btn-check" name="search-radios" id="stand_name" value="stand_name">
            <label class="btn btn-primary" for="stand_name">by <b>Stand Name</b></label>

            <input type="radio" class="form-check-input btn-check btn-check" name="search-radios" id="gate_name" value="gate_name">
            <label class="btn btn-primary" for="gate_name">by <b>Gate Name</b></label>

            <input type="radio" class="form-check-input btn-check btn-check" name="search-radios" id="terminal_name" value="terminal_name">
            <label class="btn btn-primary" for="terminal_name">by <b>Terminal Name</b></label>
        </div>
    </div>
</form>
<script>
    function search_htmx() {
        const checkboxes = document.querySelectorAll('.form-check')
        checkboxes.forEach(box => {
           box.setAttribute("hx-post","{% url 'search_pbbs' %}");
           box.setAttribute("hx-headers", '{"X-CSRFToken": "{{ csrf_token }}"}');
           box.setAttribute("hx-trigger", "click");
           box.setAttribute("hx-target", "#pbbs-table");
           box.setAttribute("hx-swap", "innerHTML");
        })
     }
    search_htmx();
</script>