{% load widget_tweaks %}
{% load static %}

<form class="filter-form" method="post" enctype="multipart/form-data" action="" novalidate>
    {% csrf_token %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr class="filter-form mb-3">
                <td class="mb-3 fr-inp">
                    <label for="id_terminal_name" class="form-label">Terminal Name</label>
                    {% render_field terminal_filter.form.terminal_name class="stop-enter form-control form-control-sm" %}
                </td>

                <td class="mb-3 fr-inp">
                    <label for="id_iata_code" class="form-label">IATA Code</label>
                    {% render_field terminal_filter.form.iata_code  class="stop-enter form-control form-control-sm"%}
                </td>
            
                <td class="mb-3 fr-inp">
                    <label for="id_icao_code" class="form-label">ICAO Code</label>
                    {% render_field terminal_filter.form.icao_code class="stop-enter form-control form-control-sm" %}
                </td>

                <td class="hidden">
                    <button type="button" class="btn btn-primary btn-lg"
                    hx-post="{% url 'terminals' %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-trigger="keydown[key=='Enter'] from:.filter-form" hx-target="#terminals-table" hx-swap="innerHTML"
                    >Filter</button>
                </td>
            </tr>
        </tbody>
    </table>
</form>