{% load widget_tweaks %}
{% load static %}

<div class="form-row">
    <p>General Information</p>
    <div class="form-floating fr-inp">
        {% if form.stand.errors %}
            {% render_field form.stand class="js-input-target form-control is-invalid" %}
            {% for error in form.stand.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.stand id="stand" class="js-input-target form-control" %}
        {% endif %}
        <label for="stand">Stand</label>
    </div>

    <div class="form-floating fr-inp">
        {% if form.operator2.errors %}
            {% render_field form.operator2 class="disabled-input js-input-target form-control is-invalid" value=current_user.id %}
            {% for error in form.operator2.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.operator2 class="disabled-input js-input-target form-control" value=current_user.id %}
        {% endif %}
        <label for="operator2">Operator</label>
    </div>
</div>
<hr>
<div class="form-row">
    <p>Aircraft Information</p>

    <div class="form-floating fr-inp">
        {% if form.flight_no2.errors %}
            {% render_field form.flight_no2 name="flight_no2" class="js-input-target form-control is-invalid" %}
            {% for error in form.flight_no2.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.flight_no2 name="flight_no2" class="js-input-target form-control" %}
        {% endif %}
        <label for="flight_no2">Flight Number</label>
    </div>

    <div class="form-floating fr-inp">
        {% if form.ac_type.errors %}
            {% render_field form.ac_type name="ac_type" class="js-input-target form-control is-invalid" %}
            {% for error in form.ac_type.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.ac_type name="ac_type" class="js-input-target form-control" %}
        {% endif %}
        {% include 'lists/ac-type.html' %}
        <label for="ac_type">Aircraft Type</label>
    </div>
    
    <div class="form-floating fr-inp">
        {% if form.ac_reg.errors %}
            {% render_field form.ac_reg name="ac_reg" class="js-input-target form-control is-invalid" %}
            {% for error in form.ac_reg.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.ac_reg name="ac_reg" class="js-input-target form-control" %}
        {% endif %}
        {% include 'lists/ac-reg.html' %}
        <label for="ac_reg">Aircraft Registration Number</label>
    </div>
</div>
<hr>
<div class="form-row">
    <p>Date and time</p>
    
    <div class="form-floating fr-inp">
        {% if form.door_close.errors %}
            {% render_field form.door_close name="door_close" class="form-control is-invalid" %}
            {% for error in form.door_close.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.door_close name="door_close" class="form-control" id="door_close" %}
        {% endif %}
        <label for="door_close">Door Close</label>
    </div>

    <div class="form-floating mb-3 fr-inp">
        {% if form.undocked.errors %}
            {% render_field form.undocked name="undocked" class="form-control is-invalid" %}
            {% for error in form.undocked.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.undocked name="undocked" class="form-control" id="undocked" %}
        {% endif %}
        <label for="undocked">Undocked</label>
    </div>
</div>
<hr>
<div class="form-row">
    <p>PBB 2 (Bravo) Used</p>

    <div class="mb-3 fr-inp">
        {% if form.b_used.errors %}
            {% render_field form.b_used name="b_used" class="disabled-input form-control is-invalid" id="b_used" %}
            {% for error in form.b_used.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.b_used name="b_used" class="disabled-input form-control" id="b_used" %}
        {% endif %}
    </div>

    <div class="form-floating mb-3 fr-inp">
        {% if form.b_door_close.errors %}
            {% render_field form.b_door_close name="b_door_close" class="form-control is-invalid" id="b_door_close" disabled="" %}
            {% for error in form.b_door_close.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.b_door_close name="b_door_close" class="form-control" id="b_door_close" disabled="" %}
        {% endif %}
        <label for="b_door_close">Door Close</label>
    </div>

    <div class="form-floating mb-3 fr-inp">
        {% if form.b_undocked.errors %}
            {% render_field form.b_undocked name="b_undocked" class="form-control is-invalid" id="b_undocked" disabled="" %}
            {% for error in form.b_undocked.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.b_undocked name="b_undocked" class="form-control" id="b_undocked" disabled="" %}
        {% endif %}
        <label for="b_undocked">Undocking Time</label>
    </div>
</div>
<hr>
<div class="form-row">
    <p>PBB 3 (Charlie) Used</p>

    <div class="mb-3 fr-inp">
        {% if form.c_used.errors %}
            {% render_field form.c_used name="c_used" class="disabled-input form-control is-invalid" id="c_used" %}
            {% for error in form.c_used.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.c_used name="c_used" class="disabled-input form-control" id="c_used" %}
        {% endif %}
    </div>

    <div class="form-floating mb-3 fr-inp">
        {% if form.c_door_close.errors %}
            {% render_field form.c_door_close name="c_door_close" class="form-control is-invalid" id="c_door_close" disabled="" %}
            {% for error in form.c_door_close.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.c_door_close name="c_door_close" class="form-control" id="c_door_close" disabled="" %}
        {% endif %}
        <label for="c_door_close">Door Close</label>
    </div>

    <div class="form-floating mb-3 fr-inp">
        {% if form.c_undocked.errors %}
            {% render_field form.c_undocked name="c_undocked" class="form-control is-invalid" id="c_undocked" disabled="" %}
            {% for error in form.c_undocked.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.c_undocked name="c_undocked" class="form-control" id="c_undocked" disabled="" %}
        {% endif %}
        <label for="c_undocked">Undocking Time</label>
    </div>
</div>
<hr>
<div class="form-row">
    <p>Optional Fields</p>
    <div class="form-floating mb-3 fr-inp">
        {% if form.remarks.errors %}
            {% render_field form.remarks name="remarks" class="form-control is-invalid" id="remarks" %}
            {% for error in form.remarks.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.remarks name="remarks" class="form-control" id="remarks" %}
        {% endif %}
        <label for="remarks">Remarks</label>
    </div>
</div>
<hr>
<div class="fr-btn">
    <button type="submit" class="btn btn-success btn-lg">Add Record</button>
</div>