{% extends 'base.html' %}
{% load static %}

{% block title %} Gates {% endblock %}
{% block display-content %}
    <div class="form-wrapper">
        <p class="form-title">Add a New Gate</p>
        <form method="post" enctype="multipart/form-data" action="" novalidate>
            {% csrf_token %}
            <div class="form-custom form-floating mb-3">
                {% include 'includes/create-gate-form.html' %}
                <!-- Button here because user form is used in more than one pages with diffrent functions-->
                <div class="fr-btn">
                    <button type="submit" class="btn btn-outline-primary btn-lg">Add Gate</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
{% block JS %}
    <!--Bootstrap JS-->
    <script src="{% static 'js/popovers.js' %}"></script>
{% endblock %}