{% extends 'base.html' %}
{% load static %}

{% block title %} Terminals {% endblock %}
{% block search_field %}
    {% include "htmx/terminals-search-form.html" %}
{% endblock %}

{% block display-content %}
    {% include "htmx/terminals-filter.html" %}
    <div id="terminals-table">
        {% include "tables/terminals-table.html" %}
    </div>
    {% block floating_btn %}
        <a href="{% url 'create_terminal' %}" class="btn btn-danger rounded-circle position-fixed bottom-0 end-0 m-5">+</a>
    {% endblock %}
{% endblock %}
{% block JS %}
    <!--HTMX JS-->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
{% endblock %}