<div class="sidebar text-bg-dark">
    {% if user.is_authenticated %}
        <ul class="nav flex-column">
          {% if perms.dockingRecords.view_dockingrecord %}
            <li class="">
              <button class="sidebar-btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#docking-records-collapse" aria-expanded="false">Docking Records</button>
              <div class="collapse" id="docking-records-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="{% url 'dockings' %}" class="sub-link d-inline-flex text-decoration-none  ">Records</a></li>
                  <li><a href="{% url 'create_docking' %}" class="sub-link d-inline-flex text-decoration-none  ">Add a Record</a></li>
                </ul>
              </div>
            </li>
            <li class="">
              <button class="sidebar-btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#flight-schedules-collapse" aria-expanded="false">Flight Schedules</button>
              <div class="collapse" id="flight-schedules-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="{% url 'flight_schedule' %}" class="sub-link d-inline-flex text-decoration-none  ">Flight Schedule</a></li>
                  <li><a href="https://www.airportia.com/saudi-arabia/king-fahd-international-airport/" target="_blank" class="sub-link d-inline-flex text-decoration-none  ">Airportia.com</a></li>
                </ul>
              </div>
            </li>
          {% endif %}
          {% if perms.accounts.view_customuser %}
              <li class="">
                <button class="sidebar-btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#users-collapse" aria-expanded="false">Accounts</button>
                <div class="collapse" id="users-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="{% url 'accounts' %}" class="sub-link d-inline-flex text-decoration-none  ">Accounts</a></li>
                    <li><a href="{% url 'create_account' %}" class="sub-link d-inline-flex text-decoration-none  ">Create a new Account</a></li>
                  </ul>
                </div>
              </li>
          {% endif %}
          {% if perms.locations.view_terminal %}
            <li class="">
              <!-- the btn should be inline for the arrow to work -->
              <!-- data-bs-target targets the ul element using the id -->
              <button class="sidebar-btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#location-collapse" aria-expanded="false">Location</button>
              <div class="collapse" id="location-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="{% url 'terminals' %}" class="sub-link d-inline-flex text-decoration-none">Terminals</a></li>
                  <li><a href="{% url 'create_terminal' %}" class="sub-link d-inline-flex text-decoration-none ">Add a Terminal</a></li>
                  <hr>
                  <li><a href="{% url 'gates' %}" class="sub-link d-inline-flex text-decoration-none">Gates</a></li>
                  <li><a href="{% url 'create_gate' %}" class="sub-link d-inline-flex text-decoration-none ">Add a Gate</a></li>
                  <hr>
                  <li><a href="{% url 'stands' %}" class="sub-link d-inline-flex text-decoration-none">Stands</a></li>
                  <li><a href="{% url 'create_stand' %}" class="sub-link d-inline-flex text-decoration-none ">Add a Stand</a></li>
                  <hr>
                  <li><a href="{% url 'pbbs' %}" class="sub-link d-inline-flex text-decoration-none">PBBs</a></li>
                  <li><a href="{% url 'create_pbb' %}" class="sub-link d-inline-flex text-decoration-none ">Add a PBB</a></li>
                  <hr>
                </ul>
              </div>
            </li>
          {% endif %}
          {% if perms.locations.change_terminal and perms.accounts.change_customuse and perms.dockingRecords.change_dockingrecord %}
            <li class="">
              <button class="sidebar-btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#uploads-collapse" aria-expanded="false">Imports</button>
              <div class="collapse" id="uploads-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li><a href="{% url 'upload_accounts_file' %}" class="sub-link d-inline-flex text-decoration-none  ">Upload Accounts Import data</a></li>
                  <li><a href="{% url 'upload_location_file' %}" class="sub-link d-inline-flex text-decoration-none  ">Upload Location Import data</a></li>
                  <li><a href="{% url 'upload_records_file' %}" class="sub-link d-inline-flex text-decoration-none  ">Upload Docking Records Import data</a></li>
                </ul>
              </div>
            </li>
            {% endif %}
        </ul>
    {% endif %}
  </div>