{% load widget_tweaks %}
{% load static %}

<div class="form-row">
    <div class="form-floating fr-inp">
        {% if form.email.errors %}
            {% render_field form.email class="js-input-target form-control is-invalid" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.email.help_text data-bs-original-title="E-mail" aria-describedby="email-help-text" %}
            {% for error in form.email.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.email class="js-input-target form-control" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.email.help_text data-bs-original-title="E-mail" aria-describedby="email-help-text" %}
        {% endif %}
        <label for="email">E-mail</label>
    </div>
    <div class="fr-btn">
        <button type="submit" class="btn btn-outline-primary btn-lg">Reset</button>
    </div>
</div>