{% load widget_tweaks %}
{% load static %}

<div class="form-row">

    <p>Old Password</p>
    <div class="form-floating fr-inp">
        {% if form.old_password.errors %}
            {% render_field form.old_password class="js-input-target form-control is-invalid" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.old_password.help_text data-bs-original-title="Old Password" aria-describedby="first-name-help-text" %}
            {% for error in form.old_password.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.old_password class="js-input-target form-control" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.old_password.help_text data-bs-original-title="Old Password" aria-describedby="first-name-help-text" %}
        {% endif %}
        <label for="old_password">Old Password</label>
    </div>
</div>

<div class="form-row">
    <p>New Password</p>
    <div class="form-floating fr-inp">
        {% if form.new_password1.errors %}
            {% render_field form.new_password1 class="js-input-target form-control is-invalid" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.new_password1.help_text data-bs-original-title="New Password" aria-describedby="last-name-help-text" %}
            {% for error in form.new_password1.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.new_password1 class="js-input-target form-control " tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.new_password1.help_text data-bs-original-title="New Password" aria-describedby="last-name-help-text" %}
        {% endif %}
        <label for="new_password1">New Password</label>
    </div>

    <div class="form-floating fr-inp">
        {% if form.new_password2.errors %}
            {% render_field form.new_password2 class="js-input-target form-control is-invalid" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.new_password2.help_text data-bs-original-title="Confirm Password" aria-describedby="user-id-help-text" %}
            {% for error in form.new_password2.errors  %}
                <span>{{ error }}</span>
            {% endfor %}
        {% else %}
            {% render_field form.new_password2 class="js-input-target form-control" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content=form.new_password2.help_text data-bs-original-title="Confirm Password" aria-describedby="user-id-help-text" %}
        {% endif %}
        <label for="user-id">Confirm Password</label>
    </div>
</div>