{% extends 'base.html' %}
{% load static %}

{% block title %} Accounts {% endblock %}
{% block search_field %}
    {% include "htmx/accounts-search-form.html" %}
{% endblock %}

{% block display-content %}
    {% include "htmx/accounts-filters.html" %}
    <div id="accounts-table">
        {% include "includes/users-table.html" %}
    </div>
    {% block floating_btn %}
        <a href="{% url 'create_account' %}" class="btn btn-danger rounded-circle position-fixed bottom-0 end-0 m-5">+</a>
    {% endblock %}
{% endblock %}
{% block JS %}
    <!--Active status JS-->
    <script src="{% static 'js/accounts.js' %}"></script>
    <!--HTMX JS-->
    <script src="https://unpkg.com/htmx.org@1.8.4" integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV" crossorigin="anonymous"></script>
{% endblock %}