{% load widget_tweaks %}
{% load static %}
<div class="login-form-row">
    <p></p>
    <div class="form-floating fr-inp">
        {% if form.errors %}
            {% render_field form.username class="js-input-target form-control is-invalid" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus"  data-bs-content=form.username.help_text data-bs-original-title="Username" aria-describedby="username-help-text" %}
        {% else %}
            {% render_field form.username class="js-input-target form-control is-valid" tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus"  data-bs-content=form.username.help_text data-bs-original-title="Username" aria-describedby="username-help-text" %}
        {% endif %}
        <label for="username">Username</label>
    </div>
    <div class="form-floating fr-inp">
        {% if form.errors %}
            {% render_field form.password class="js-input-target form-control is-invalid"  tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus"  data-bs-content=form.password.help_text data-bs-original-title="Password" aria-describedby="password-help-text" %}
        {% else %}
            {% render_field form.password class="js-input-target form-control"  tabindex="0" data-bs-toggle="popover" data-bs-trigger="focus"  data-bs-content=form.password.help_text data-bs-original-title="Password" aria-describedby="password-help-text" %}
        {% endif %}
        <label for="password">Password</label>
    </div>
</div>
<hr>
<div class="fr-btn">
    <button type="submit" class="btn btn-outline-primary btn-lg">Login</button>
</div>